/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CUSTOM STYLES */
*{
    box-sizing: border-box;
    color: white;
    line-height: 1.5;
}
.flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
main{
    background-color: #31BB66;
}
p{
    font-size: 20px;
}
/* HEADER */
h1{
    font-size: 40px;
}
.container-head{
    padding: 30px;
    background-color: #223969;

}
.box-2 a{
    margin-right: 20px;
}
/* MAIN SECTION */
h2{
    font-size: 30px;
}

.container-art1{
    padding: 30px;
    align-items:flex-start;  
}
.box-3{
    width: 47%;
}
img{
    width: 100%;
    border-radius: 20px;
}

.container-art2 img{
    width: 400px;
    margin-bottom: 20px;
    height: 250px;
}

.art2{
    text-align: center;
}
.container-art2{
    padding: 30px;
    flex-wrap: wrap;
}



/* FOOTER */
footer{
    padding: 30px;
    text-align: center;
    background-color: #223969;
}